
.header{
    height: 120px;
    background-image:linear-gradient(0,#fe6433,#f53e2d) ;
}


.header__navbar{
    display: flex;
    justify-content: space-between;
}


.header__navbar-list{
    list-style: none;
    padding-left: 0;
    margin: 4px 0 0 0;
    display: flex;

}


.header__navbar-item{
    margin: 0 8px;
    position: relative;
    min-height: 26px;
}

.header__navbar-icon-link:nth-child(2){
    margin-left: 4px;
}

.header__logo-link{
    text-decoration: none;
    color: transparent;
}

.header__navbar-item-user{
    display: flex;
    justify-items: center;

}
.header__navbar-user-img{
    width: 22px;
    height: 22px;
    border-radius: 50%;
    border: 1px solid rgba(0 ,0 , 0, 0.2);

}

.header__navbar-user-menu{
    position: absolute;
    list-style: none;
    background-color: var(--white-color);
    padding-left: 0;
    top:100%;
    right:0;
    border-radius: 2px;
    width: 160px;
    z-index: 3;
    box-shadow: 0 1px 2px #e0e0e0;
    display: none;
    

}

.header__navbar-user-item--separate{
    border-top: 1px solid rgba(0 ,0 , 0, 0.05);
}

.header__navbar-item-user:hover .header__navbar-user-menu{
    display: block;
}

.header__navbar-user-menu::before {
    content:"";
    border-width: 16px 20px;
    border-style: solid;
    border-color: transparent transparent var(--white-color) transparent;
    position:  absolute;
    right: 0;
    top: -24px;


}

.header__navbar-user-menu::after{
    content: "";
    display: block;
    position: absolute;
    top:-8px;
    right: 0;
    height: 8px;
    width: 56%;
}

.header__navbar-user-item{
    font-weight: 400;
}
.header__navbar-user-item a{
    display: block;
    text-decoration: none;
    color: var(--text-color);
    font-size: 1.4rem;
    padding-top: 6px;
    margin: 0 0 0 8px;
}
.header__navbar-user-item a:nth-child(1){
    
    border-top-left-radius: 2px;
    border-top-right-radius: 2px;

}
.header__navbar-user-item a:nth-child(2){
    border-bottom-left-radius: 2px;
    border-bottom-left-radius: 2px;
    
}
.header__navbar-user-item a:hover{
    background-color: #fafafa;
}

.header__navbar-user-name{
    font-size: 1.4rem;
    font-weight: 400;
    margin-left: 4px;
    
}

.header__navbar-item-link,
.header__navbar-item{
    display: inline-block;
    font-size: 1.3rem;
    color: var(--white-color);
    text-decoration: none;
    font-weight: 300;

}


.header__navbar-item-link:hover,
.header__navbar-item:hover,
.header__navbar-icon-link:hover{
    cursor: pointer;
    color: rgba(255,255, 255, 0.7);
}


.header__navbar-item-link,
.header__navbar-item,
.header__navbar-icon-link{
    display: inline-flex;
    align-items: center;
}


.header__navbar-item--strong{
    font-weight: 400;
}


.header__navbar-item--separate::after{
    content: "";
    display: block;
    position: absolute;
    width: 1px;
    height: 12px;
    background-color: #FB9086;
    right: -9px;
    top: 50%;
    transform: translateY(-50%);
}


.header__navbar-icon-link{
    color: var(--white-color);
    text-decoration: none;
}


.header__navbar-icon{
    font-size: 18px;
    margin: 0 4px;
}


.header__navbar-title--nopointer{
    cursor: text;
    color:var(--white-color);
}


.header__navbar-item--has-qr:hover .header__qr{
    display: block;

}

.header__navbar--has-notify:hover .header__notify{
    display: block;
}


/*qr*/
.header__qr{
    width: 186px;
    background-color: var(--white-color);
    position: absolute;
    top: 118%;
    left: 0;
    padding: 8px;
    border-radius: 2px;
    display: none;
    animation: fadeIn ease-in 0.3s;
    z-index: 1;
    box-shadow: 0 1px 2px rgba(0, 0, 0, 0.1);
}


.header__qr::before{
    position: absolute;
    content: "";
    width: 100%;
    height: 20px;
    left: 0;
    top: -16px;
    display: block;

}


.header__qr-apps{
    display: flex;
    justify-content: space-between;

}


.header__qr-img{
    width: 100%;
}



.header__qr-download-img{
    height: 14px;
}


.header__qr-link:nth-child(1){
    margin-left: 11px;
}


.header__qr-link:nth-child(2){
    margin-right: 11px;
}


/*header notify*/
.header__notify{
    position: absolute;
    z-index: 1;
    display: none;
    top: 118%;
    width: 404px;
    right: 0;
    border: 1px solid rgba(0,0,0,0.1);
    border-radius: 2px;
    background-color: var(--white-color);
    transform-origin: calc(100%-32px) top;
    animation: headerNotiGrowth ease-in 0.2s ;/* nhung prifixed ho tro cho nhieu trinh duyet khac nha*/
   -webkit-animation: headerNotiGrowth ease-in 0.2s  ;
   -ms-animation: headerNotiGrowth ease-in 0.2s  ;
   -o-animation:  headerNotiGrowth ease-in 0.2s ;
   -moz-animation:  headerNotiGrowth ease-in 0.2s ;
    will-change: opacity, transform;/*khai bao toi uu chuyen dong cho keyframe*/
}


.header__notify::before {
    content:"";
    border-width: 20px 26px;
    border-style: solid;
    border-color: transparent transparent var(--white-color) transparent;
    position:  absolute;
    right: 0;
    top:-32px;

}


.header__notify::after {
    content:"";
    display: block;
    position: absolute;
    right: 0;
    top: -16px;
    width: 90px;
    height: 20px;    
}



@keyframes headerNotiGrowth {
    from{
        opacity: 0;
        transform: scale(0);
    }

    to{
        opacity: 1;
        transform: scale(1);
    }

}


.header__notify--viewed{
    background-color: rgba(238, 75, 43,0.08);
    
}


.header__notify-header{
    height: 40px;
    background-color: var(--white-color);
    cursor: default;
    opacity: 0.9;
}

.header__notify-header h3{
    color: #666;
    margin: 0 0 0 12px;
    font-weight: 400;
    font-size: 1.4rem;
    line-height: 40px;
    user-select: none;
    -webkit-user-select: none;
}

.header__notify-list{
    padding-left: 0;
    height: auto;

}

.header__notify-item:hover{
    background-color: #f7f7f7;
}




.header__notify-link{
    display:inline-flex ;
    padding: 12px;
    text-decoration: none;
    width: 100%;
}


.header__notify-img{
    width: 48px;
    object-fit: contain;
}


.header__notify-info{
    margin-left: 12px;

}


.header__notify-name{
display: block;
font-size: 1.4rem;
color: var(--black-color);
font-weight: 400;
line-height: 1.6rem;
}


.header__descriotion{
    display: block;
    font-size: 1.2rem;
    color: #756F6E;
    margin-top: 4px;
}

.header__notify-footer{
    display: flex;
}

.header__notify-btn{
    text-decoration: none;
    color: var(--text-color);
    padding: 8px 32px;
    margin: auto;
    font-size: 1.4rem;
    font-weight: 400;

}

/*authe modal*/
.auth-form{
    border-radius: 5px;
    width: 500px;
    background-color: var(--white-color);
    border-radius: 5px;
    overflow: hidden;
}

.auth-form__container{
    padding: 0 32px;
}

.auth-form__header{
    display: flex; 
    align-items: center;   
    justify-content: space-between;
    padding: 10px 12px;
}

.auth-form__heading{
    font-size: 2.2rem;
    font-weight: 400;
    color: var(--text-color);

}

.auth-form__switch{
    font-weight: 400;
    font-size: 1.6rem;
    color: var(--primary-color);
    cursor: pointer;
}


.auth-form__input{
    height: 40px;
    width: 100%;
    margin-top: 16px;
    padding: 0 12px;
    font-size: 1.4rem;
    border: 1px solid var(--boder-color);
    border-radius: 2px;
    outline: none;
}

.auth-form__input:focus{
    border-color: #888;
}

.auth-form__aside{
    margin-top: 18px;
}

.auth-form__policy-text{
    font-size: 1.2rem;
    line-height: 1.8rem;
    text-align: center;
    padding: 0 12px;
}

.auth-form__text-link{
    text-decoration: none;
    color: var(--primary-color);
}

.auth-form__controls{
    display: flex;
    justify-content: flex-end;
    margin-top: 80px;
}

.auth-form__control-back{
    margin-right: 8px;
}

.auth-form__socials{
    background-color: #f5f5f5;
    padding: 16px 36px;
    display: flex;
    justify-content: space-between;
    margin-top: 28px;
}

.auth-form__socials-icon{
    font-size: 1.8rem;
}




.auth-form__socials--fb
.auth-form__socials-icon{
    color: var(--white-color);
}

.auth__social--title{
    margin: 0 36px;

}

.auth-form__socials--gg{
    background-color: var(--white-color);
    color: #666;
}

.auth-form__socials--fb{
    background-color: #3a5a98;
    color: var(--white-color);

}

/*login*/
.auth-form__help{
    display: flex;
    justify-content: flex-end;
}

.auth-form__help-seperate{
    border-left: 1px solid #eaeaea;
    margin: 2px 16px 0;
    height: 22px;
}

.auth-form__help-link{
    text-decoration: none;
    font-size: 1.4rem;

}


.auth-form__help--forgot{
    color: var(--primary-color);
    font-weight: 500;
}

/*header search*/
.header-with-search{
    height: var(--header-with-search);
    display: flex;
    align-items: center;
    margin: 0 8px;
}

.header__logo{
    width: 200px;
    
}

.header__logo-img{
    width: 150px;
}

.header__search{
    background-color: var(--white-color);
    height: 40px;
    flex: 1;
    border-radius: 2px;
    display: flex;
    justify-content: center;
    align-items: center;
}


.header__cart-list{
    position: absolute;
    z-index: 1;
    background-color: #fdfdfd;
    top:calc(100% + 16px);
    right: -3px;
    width: 400px;
    border-radius: 2px;
    box-shadow: 0 1px 3.125rem 0 rgba(0,0,0,0.2);
    display: none; 
    animation: fadeIn ease-in 0.2s;
    cursor: default;

}

.header__cart-wrap{
    position: relative;
    cursor: pointer;
    display: inline-block;
    padding: 0 8px;
}


.header__cart-wrap:hover .header__cart-list {
    display: block;

}


.header__cart-list::after{
    cursor: pointer;
    content: "";
    position: absolute;
    right: 3px;
    top: -30px;
    border-width: 16px 20px;
    border-style: solid;
    border-color: transparent transparent var(--white-color) transparent;
}

.header__cart-list--no-cart{
    padding: 24px 0;
}


.header__cart-list--no-cart .header__cart-no-cart-img,
.header__cart-list--no-cart .header__cart-list-no-cart-msg{
    display: block;
    margin-left:  auto;
    margin-right: auto;
}


.header__cart-no-cart-img{
    width: 54%;
    display: none;
}

.header__cart-list-no-cart-msg{
    display: none;
    font-size: 1.4rem;
    margin-top: 14px;
    color: var(--text-color);
}


.header__cart{
    width: 150px;
    
}

.header__cart-heading{
    text-align: left;
    margin: 8px 0 12px 8px;
    font-size: 1.4rem;
    color: #999;
    font-weight: 400;
}

.header__cart-item{
    display: flex;   

}

.header__cart-list-item{
    display: block;
    padding-left: 0;
    list-style: none;
    height: 56vh;/*theo pham tram cua man hinh*/
    overflow-y: auto;

}
.header__cart-item-info{
    width: 100%;
}

.header__cart-item{
    display: flex;
    align-items: center;
    width: 100%;
}
.header__cart-item:hover{
    background-color: #f8f8f8;
}

.header__cart-img{
    width: 42px;
    height: 42px;
    margin: 12px;
    border: 1px solid #e8e8e8;
}


.header__cart-item-head{
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-right: 12px;

}

.header__cart-item-name{
    font-size: 1.4rem;
    font-weight: 500;
    color: var(--text-color);
    margin: 0;
    line-height: 2rem;
    max-height: 4rem;
    overflow: hidden;
    flex: 1;
    padding-right: 16px;
    /*ba cham cuoi dong 2*/
    display: -webkit-box;
    -webkit-box-orient: vertical;
    -webkit-line-clamp: 2;
    text-align: left;
}

.header__cart-item-price{
    font-size: 1.4rem;
    font-weight: 400;
    color: var(--primary-color);

}
.header__cart-multiply{
    color: #757575;
    font-size: 0.9rem;
    margin: 0 4px;

}

.header__cart-item-quality{
    font-size: 1.2rem;
    color: #757575;


}
.header__cart-item-body{
    display: flex;
    text-align: center;
    justify-content: space-between;
}
.header__cart-item-description{
    font-size: 1.3rem;
    color: #757575;
    font-weight: 300;
}

.header__cart-item-remove{
    color: var(--text-color);
    font-size: 1.4rem;
    padding-right: 12px;
}

.header__cart-item-remove:hover{
    cursor: pointer;
    color: var(--primary-color);
}

.header__cart-notice{
    position: absolute;
    padding: 1px 6px;
    background-color: var(--white-color);
    color: var(--primary-color);
    font-size: 14px;
    line-height: 1.4rem;
    border-radius: 10px;
    border: 2px solid #ee4d2d;
    top:-4px;
    right: -4px;
}


.header__cart-icon {
    margin-top: 6px;
    font-size: 2.4rem;
    color: var(--white-color);
}
.header__cart-view-cart {
    float: right;
    margin: 0 12px 12px 0;
}
.header__cart-view-cart:hover{
    background-color: #f05d41;
}

.header__search-input-wrap{
    flex: 1;
    position: relative;
}

.header__search-input{
    height: 100%;
    width: 100%;
    border: none;
    outline: none;
    font-size: 1.4rem;
    color: var(--text-color);
    border-radius: 2px;
    
}

.header__search-input:focus ~ .header__search-history {
    display: block;
}

.header__search-history{
    position: absolute;
    background-color: var(--white-color);
    top: calc(100% + 13px);
    left: 0;
    width: calc(100% - 16px);
    border-radius: 2px;
    box-shadow: 0 1px 5px rgb(172, 171, 171);
    display: none;
    z-index: 1;
}

.header__search-history-heading{
    font-size: 1.4rem;
    margin: 6px 12px;
    font-weight: 400;
    color: #999;
}

.header__search-history-list{
    padding-left: 0;
    list-style: none;
    margin: 6px 0 0 ;
    
}

.header__search-history-item{
    height: 38px;
    padding: 0 16px;

}

.header__search-history-item:last-child{
    border-bottom-left-radius: 2px;
    border-bottom-right-radius: 2px;
}

.header__search-history-item:hover{
    background-color: #fafafa;
}

.header__search-history-item a{
    display: block;
    text-decoration: none;
    font-size: 1.4rem;
    color:var(--text-color);
    line-height: 38px;
}


.header__search-select{
    padding-left: 16px;
    border-left:1px solid #e8e8e8 ;
    position: relative;
    cursor: pointer;
    top: 0px;
    
}


.header__search-select::after {
    position: absolute;
    content: "";
    display: block;
    right: 0;
    top: 13px;
    width: 130px;
    height: 22px;
    }


.header__search-select:hover .header__search-option{
    display: block;
}

.header__search-select-label{
   font-size: 1.4rem;
   color: var(--text-color);
    
}

.header__search-select-icon{
   font-size: 1.4rem;
    color: #bdbdbd;
    margin: 0 16px 0 8px ;
    position: relative;
    top: 1px;
}

.header__search-btn{
    border: none;
    background-color: var(--primary-color);
    height: 34px;
    width: 60px;
    border-radius: 2px;
    margin-right: 3px;
    color: var(--white-color);
    outline: none;
    overflow: hidden;
}

.header__search-btn:hover{
    background-color:#fb6445;
    cursor: pointer;
}

.header__search-select-icon{
    font-size: 1.4rem;
}

.header__search-btn-icon{
    font-size: 1.4rem;
    color: var(--white-color);
}

.header__search-option{
    position: absolute;
    right: 0;
    top:calc(100% + 4px);
    width: 130px;
    list-style: none;
    box-shadow: 0 0 2px rgb(177, 174, 174);
    padding-left: 0;
    display: none;
    animation: fadeIn  ease-in 0.2s;
    z-index: 1;
}



.header__search-option-item{
    background-color: var(--white-color);
    border-radius: 2px;
    padding: 8px 8px;
}

.header__search-option-item:nth-child(1){
    border-top-left-radius: 2px;
    border-top-right-radius: 2px;
    

}

.header__search-option:nth-child(2){
    border-bottom-left-radius:3px ;
    border-bottom-right-radius:3px ;
        
}

.header__search-option-item:hover{
    background-color: #fafafa;
    cursor: pointer;
}


.header__search-option-item span{
    font-size: 1.4rem;
    color: var(--text-color);
    margin-left: 8px;
}

.header__search-option-item i{
    font-size: 1.2rem;
    color: var(--primary-color);
    margin-left: 12px;
    display: none;
}

.header__search-option--active i{
    display: inline-block;
}
/*container*/
.app__container{
    background-color: #f5f5f5;
}
.category{
    background-color: var(--white-color);
}

.app__content{
    padding-top: 36px;
}
.category__heading{
    margin-top: 0;
    font-size: 1.5rem;
    color: var(--text-color);
    padding: 12px 16px ;
    border-bottom: 1px solid rgba(0 ,0 , 0, 0.05);
    
}

.category__heading-icon{
    position: relative;
    font-size: 1.4rem;
    margin-right: 4px;
    top: -1px;
}

.category-list{
    list-style: none;
    padding: 0 0 8px 0;
    margin-left: 9px;
    
}

.category-item{
    position: relative;
}

.category-item:first-child::before{
    display: none;
}

.category-item::before{
    content: "";
    position: absolute;
    top: 0;
    left: 20px;
    right: 20px;
    border-bottom: 1px solid #e1e1e1;
}

.category-item__link{
    position: relative;
    color: var(--text-color);
    font-size: 1.2rem;
    font-weight: 500;
    display: block;
    padding: 8px 20px;
    text-decoration: none;
    transition: right linear 0.1s;
    right: 0;
    
}
.category-item__link:hover{
    color: var(--primary-color);
    right: -4px;
}

.category-item--active .category-item__link{
    color: var(--primary-color);
}
.category-item--active .category-item__link::before{
    top:50%;
    left: 7px;
    content: "";
    position: absolute;
    border: 4px solid;
    border-color: transparent transparent transparent var(--primary-color);
    transform: translateY(-50%);
}
/*home sort+filter*/
.home-filter{
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 2px;
    background-color: rgba(0,0,0,0.1);
    padding: 12px 22px;
}
.home-filter_label{
    font-size: 1.4rem;
    color: #555;
    margin-right: 16px;
}
.home-filter__btn{
    margin-right: 12px;
    padding: 14px 12px ;
    min-width: 90px;
}
.home-filter__page{
    display: flex;
    align-items: center;
    margin-left: auto;
}
.home-filter__page-num{
    font-size: 1.4rem;
    color: var(--text-color);
    margin-right: 22px;
}
.home-filter__page-curent{
    color: var(--primary-color);
    font-size: 1.5rem;
}
.home-filter__page-control{
    border-radius: 2px;
    overflow: hidden;
    display: flex;
    width: 72px;
    height: 36px;

}
.home-filter__page-btn{
    display: flex;
    background-color: var(--white-color);
    flex: 1;
    text-decoration: none;

}
.home-filter__page-btn:nth-child(1){
    border: 1px solid #eee;
    
}

.home-filter__page-icon{
    margin: auto;
    font-size: 1.2rem;
    color: #555;
}

.home-filter__page-btn--disable{
    background-color: #f9f9f9;
    cursor: default;
}

.home-filter__page-btn--disable .home-filter__page-btn{
    color: #ccc;
}
/*product*/
.home-product{
    margin-bottom: 10px;
}
.home-product-item{
    background-color: var(--white-color);
    margin-top: 10px;
    position: relative;
    border-radius: 2px;
    box-shadow: 0 1px 2px rgba(0 ,0 , 0, 0.1);
    transition: top linear 0.1s;
    top: 0;
    will-change: transform;
    display: block;
    text-decoration: none;
}


.home-product-item:hover{
    box-shadow: 0 1px 20px rgba(0 ,0 , 0, 0.05);
    top:-2px;
}

.home-product-item__img{
    padding-top: 100%;
    background-repeat: no-repeat;
    background-position: top center;
    background-size: contain ;
    border-top-left-radius: 2px;
    border-top-right-radius: 2px;


    /* background-position: center;focus vao trong tam */
}

.home-product-item__name{
    font-size: 1.4rem;
    font-weight: 400;
    color: var(--text-color);
    line-height: 1.8rem;
    /*chinh chieu ngang dau 3 cham*/
    height: 3.6rem;
    overflow: hidden;
    padding: 0 10px;
    margin: 10px 10px 6px ;
    display: block;
    display: -webkit-box;
    -webkit-box-orient: vertical;
    -webkit-line-clamp: 2;
}

.home-product-item__price{
    display: flex;
    margin-left: 10px;
    align-items: baseline;
    flex-wrap: wrap;
}


.home-product-item__price-old{
    font-size: 1.3rem;
    color: #666;
    text-decoration: line-through;
    margin-left: 10px;
}

.home-product-item__price-current{
    font-size: 1.6rem;
    color: var(--primary-color);
    margin-left: 10px;
}

.home-product-item__action{
    display: flex;
    justify-content: space-between;
    margin: 6px 10px 0;

}

.home-product-item__like{
    font-size: 1.3rem;
    cursor: pointer;


}

i.home-product-item__like-icon-fill {
    display: none ;
    color: #f63d3d;
}

.home-product-item__like--liked .home-product-item__like-icon-fill{
    display: block;
} 

.home-product-item__like--liked .home-product-item__like-icon-empty{
    display: none;
} 

.home-product-item__rating{
    font-size: 0.8rem;
    /*neu khong nho dc dung zoom hoac transform:scale(...)*/
    color: #d5d5d5;
    margin: -1px 0 0  auto;

}
.home-product-item-star--gold{
    color: var(--star-gold-color);
}

.home-product-item__sold{
    font-size: 1.2rem;
    color:var(--text-color) ;
    margin-left: 6px;

}

.home-product-item__origin{
    color: #595959;
    font-size: 1.2rem;
    margin: 3px 10px 0;
    display: flex;
    justify-content: space-between;
    font-weight: 300;
}

.home-product-item__origin-name{
    margin: auto;/*co the thay cho space beetween origin*/

}

.home-product-item__favourite{
    position: absolute;
    top: 10px;
    left: -4px;
    color: var(--primary-color);
    background-color: currentColor;
    font-size: 1.2rem;
    font-weight: 500;
    line-height: 1.6rem;
    padding-right: 4px;
    border-top-right-radius: 3px;
    border-bottom-right-radius: 3px;

}
.home-product-item__favourite i{
    font-size: 0.9rem;
    margin: 0 2px 0 5px;
}

.home-product-item__favourite span{
    color: var(--white-color);
    
}

.home-product-item__favourite i{
    color: var(--white-color);
    
}

.home-product-item__favourite::before{
    content: "";
    position: absolute;
    border-top: 3px solid currentColor;
    border-left: 3px solid transparent;
    left: 0;
    bottom: -3px;
    filter: brightness(60%);
}

.home-product-item__sale-off{
    background-color:rgba(255, 216, 51, 0.94);
    position: absolute;
    right: 0;
    top: 0;
    height: 36px;
    text-align: center;
    font-weight: 600;
    color: rgba(255, 216, 51, 0.94);
    border-top-right-radius: 2px;
}

.home-product-item__sale-off-percent{
    padding: 4px 2px 2px;
    display: block;
    color: #ee4d2d;
    font-size: 1.2rem;
    line-height: 1.2rem;

}

.home-product-item__sale-off-label{
    font-size: 1.3rem;
    line-height: 1.3rem;
    color: var(--white-color);
    padding: 4px 2px 2px;

   
}
.home-product-item__sale-off::after{
    content: "";
    position: absolute;
    left: 0;
    bottom: -4px;
    border-width: 0 18.4px 4px;
    border-style: solid;
    border-color: transparent  currentColor transparent currentColor;
}
.home-product__pagination{
    margin: 48px 0 32px;
}
/*footer*/
.footer{
    min-width: 1600px;
    border-top: 4px solid var(--primary-color);
    background-color: var(--white-color);
    padding-top: 16px;
}

.footer__heading{
    font-weight: 500;
    color: #767c81;
    text-transform: uppercase;
    margin-bottom: 20px;
    font-size: 1.2rem;
}

.footer-list{
    list-style: none;
    padding-left: 0;
}

.footer-item{
    margin: 0 0 8px;
}

.footer-item__link{
    display: flex;
    text-decoration: none;
    color: var(--text-color);
    color:#8a8585;
    align-items: center;
}

.footer-item__link:hover{
    color: var(--primary-color);
}

.footer-item__icon{
    font-size: 1.6rem;
    margin-top: -1px;
}

.footer-item__name{
    padding-left: 4px;
}

.footer__download{
    display: flex;
    align-items: center;

}

.footer__download-qr{
    min-width: 80px;
    height: 80px;
    border: 1px solid var(--boder-color);
}

.footer__download-apps{
    margin-left: 16px;
}

.footer__download-app-img{
    height: 20px;
}
.footer__support{
    width: 100%;
    min-height: 240px;
    background-color: #f5f5f5;
    
}
.footer__support-option{
    display: flex;
    justify-content: center;
    padding: 32px 16px 120px;
    font-size: 1.4rem;
}
.footer__support-security{
    padding:0 16px ;
    border-right: 1px solid  var(--boder-color) ;
}

.footer__support-regulation{
    padding:0 16px ;
    border-right: 1px solid  var(--boder-color) ;

}

.footer__support-refund{
    margin:0 16px ;

}

.footer__text{
    display: block;
    width: 100%;
    font-size: 1.6rem;
    color: var(--white-color);
    text-align: center;
    background-color: var(--primary-color);
    line-height: 3rem;
}
